h1 {
  color: maroon;
  font: 16pt Verdana, Arial, sans-serif;
  text-align: left;
  font-weight: bold;
}
h2 {
  color: maroon;
  font: 12pt Verdana, Arial, sans-serif;
  text-align: left;
}
p {
  color: blue;
  font: 10pt Verdana, Arial, sans-serif;
  text-align: left;
  margin: 0px
}
body {
  font: 12pt Verdana, Arial, sans-serif;
  background-color: white;
}
html {
  font: 16pt Verdana, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: white;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color :white;
  color: maroon;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: greenyellow;
}

.aside {
  background-color: white;
  padding: 15px;
  color: maroon;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: white;
  color: maroon;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}
ul.topnav {
  list-style-type: none;
  margin: auto;
  padding: 0px;
  overflow: hidden;
  background-color: white;
  float: right;
}
ul.topnav li {
  border-right: 1px solid #bbb;
  display: inline;
}
ul.topnav li a {
  display: inline;
  color:maroon;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: rgb(32, 204, 32);
}
ul.topnav li a.active {
  background-color: rgb(32, 204, 32);
}